# Egg info #
dose_instruction_parser/src/dose_instruction_parser.egg-info/*

# Backup #
model/preprocess/backup/*

*.pyc

# Common text files that may contain data #
*.[cC][sS][vV]*
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# Word files #
*.[dD][oO][cC]*

# SPSS formats #
*.[sS][aA][vV]
*.[zZ][sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]

# MacOS folder attributes files #
.DS_Store

# Log files
*.log

# Dat files
*.dat

# Wheel (needed for en_core_med7_lg install)
*.whl

# Spacy files and annotations
*.spacy
*.ann

# Jupyter
*.ipynb
.ipynb_checkpoints/

# JSON
*.json

# Prolog
*.pl

# Tarfiles
*.tar.gz